<% provide(:title, 'About Kojaw') %>
<h1>About Kojaw</h1>
<p>
	Kojaw was founded in 2014 because the owner was trying to find an Iranian eyebrow person in the Bay Area and failed to find one online. </br>

	You can use Kojaw to find local businesses like grocery stores, hair stylists and doctors. </br>

	Kojaw is going to attempt to make money by selling ads to local businesses. </br>

</p>