<% provide(:title, 'contact') %>

<h1> Contact Us </h1>
</br>
<center>
<p> If you have any questions, concerns, need help or extra information do not hesitate to contact us. </p>
<p> You can reach us at <u><b>info@kojaw.com</b></u> </p>
<p> Please give a short description of your request in the subject of your email. </p>
<p> We hope you are pleased with our services and look forward to replying to your inquiry. </p>
<p> <i>Please allow 3-5 days for a response.</i> </p> </center>