<h1> Privacy Policy </h1>

<p><b>Last updated January 28, 2014.</b>This privacy policy is effective immediately for registration purposes for vendors after the date mentioned above. This policy describes our policies in collection and use of your information in connection with our website and emails. The terms <b>“us”, “we”</b> and <b>“kojaw”</b> refers to Kojaw Inc. When you use this site, you consent to our use, collection and disclosure of your information as specified in this Privacy Policy. </p>

<p><b>A. What information do we collect? </b></p>
<ul>
<li><b>Account Information: </b> </br>When you create an account on Kojaw, we may store your full name, email address and other information you provide with your account. Your business names, address, phone number and other information you may provide will be publicly displayed. If you feel that an unauthorized account has been created depicting you, you can request it’s removal in our <%= link_to "contact form",    contact_path %>.</li>
<li><b>Public Content: </b></br> The information you provide on this site is intended for public use. We may display this information on the Site, share it with businesses and further distribute it to a wider audience through third party services. </li>
</ul>
<p><b>B. Account Termination</b></p>
<p>Businesses and Vendors cannot remove their business listings by closing their accounts. In the event your business no longer exists, please contact us <%= link_to "here",    contact_path %>.</p>

<p><b>C. Children</b></p>
<p>The site is intended for general audiences and children over 13. We do not willingly collect information from children under 13. If we become aware of an account run by a person under the age of 13, we will terminate the account and take steps to remove information provided to us without parental consent.</p>

<p><b>D. Security</b></p>
<p>We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. However, no method of transmission over the Internet or via mobile device, or method of electronic storage, is 100% secure. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.</p>

<p><b>E. Disputes</b></p>
<p>If you believe Kojaw has not adhered to this Privacy Policy you may contact us <%= link_to "here",    contact_path %>.</p>

<p><b>F. Modifications to Privacy Policy</b></p>
<p>We may revise this Privacy Policy from time to time. The most current version of Privacy Policy will govern our use of the information about you. If we do make material changes to the Privacy Policy, we will notify you by email or by posting a notice on the site prior to the effective date of change. By continuing access and use of the Site after changes are made, you agree to the revised Privacy Policy terms and are bound by them.</p>