@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
  background-color: rgb(246,251,208) !important;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
  line-height: 21px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.description {
	  text-align: center;
	  font-size: 1.6em;
	  font-style: italic;
	  color: #008000;	  
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;

}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar .nav{
	margin: 25px 10px 0 0 !important;
}

.nav a {
    font-size: 14px;
    font-weight: 400;
    color: #4e4e4e;
}

ul.footer-nav a:hover {
	color:#006400 !important;
  background-color: rgb(246,251,208) !important;
}

ul.nav a:hover {
	color:#006400 !important;
}



.navbar-inner {
  background-color: #F6FBD0 !important; /* background color will be black for all browsers */
  background-image: none !important;
  background-repeat: no-repeat !important;
  filter: none !important;
}
.navbar .brand {
    max-height: 80px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#form {
	margin-top: 40px;
}

.btn-primary {
color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #003300 !important;
background-image: -moz-linear-gradient(top, #003300, #003300);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#003300), to(#003300));
background-image: -webkit-linear-gradient(top, #003300, #003300);
background-image: -o-linear-gradient(top, #003300, #003300);
background-image: linear-gradient(to bottom, #003300, #003300);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003300', endColorstr='#003300', GradientType=0);
border-color: #0044cc #0044cc #002a80;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-large {
padding: 11px 10px;
}

.search_tags {
	color: #003300;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 15px;
}

.smart-green span {
	font-weight: bold;
	color:#006400;
	font-size: 20px;
}

.smart-green input[type="text"], .smart-green input[type="email"], .smart-green select {
    color: #555;
    padding: 15px 20px 10px 10px;
	width: 920px;
	margin-left: 10px;
	display: block;
    margin-top: 15px;
    margin-bottom: 40px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    font: bold 17px/16px Arial, Helvetica, sans-serif;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.profile {
	text-align: center;
	font-style: italic;
	font-weight: bold;
}