<footer class="footer">
	<nav>
	 <ul id="footer-nav">
            <li><%= link_to "About Kojaw",    about_path %></li>
            <li><%= link_to "Contact Us",    contact_path %></li>
			<li><%= link_to "Terms of Service",    terms_path %></li>
			<li><%= link_to "Privacy Policy",    privacy_path %></li>
	   <li>Powered by <strong>Kojaw</strong> &copy; 2014.</li>
  </ul>
  </nav>
</footer>